.subject00{
background:#117A65;
color:#fff;
}
.subject01{
background:#4682b4;
color:#fff;
}
.subject02{
background:#40e0d0;
color:#fff;
}
.subject03{
background:#ffa500;
color:#fff;
}
.subject04{
background:#87ceeb;
color:#fff;
}
.subject05{
background:#699018;
color:#fff;
}
.subject06{
background:#db7093;
color:#fff;
}
.subject07{
background:#b22222;
color:#fff;
}
.subject08{
background:#c71585;
color:#fff;
}
.subject09{
background:#bc8f8f;
color:#fff;
}
.subject010{
background:#6C3483;
color:#fff;
}

.subject011{
background:#A6ACAF;
color:#fff;
}
.subject012{
background:#F4D03F;
color:#fff;
}
.subject013{
background:#A04000;
color:#fff;
}
.subject014{
background:#A3E4D7;
color:#fff;
}
.subject015{
background:#1B4F72;
color:#fff;
}
.subject016{
background:#154360;
color:#fff;
}
.subject017{
background:#641E16;
color:#fff;
}
.subject018{
background:#1D8348;
color:#fff;
}
.subject019{
background:#F39C12;
color:#fff;
}
.subject020{
background:#873600;
color:#fff;
}


.subject021{
background:#C39BD3;
color:#fff;
}
.subject022{
background:#F1C40F;
color:#fff;
}
.subject023{
background:#45B39D;
color:#fff;
}
.subject024{
background:#5499C7;
color:#fff;
}
.subject025{
background:#85C1E9;
color:#fff;
}
.subject026{
background:#3498DB;
color:#fff;
}
.subject027{
background:#138D75;
color:#fff;
}
.subject028{
background:#784212;
color:#fff;
}
.subject029{
background:#7E5109;
color:#fff;
}
.subject030{
background:#186A3B;
color:#fff;
}

.subject10{
background:#6C3483;
color:#fff;
}

.subject11{
background:#A6ACAF;
color:#fff;
}
.subject12{
background:#F4D03F;
color:#fff;
}
.subject13{
background:#A04000;
color:#fff;
}
.subject14{
background:#A3E4D7;
color:#fff;
}
.subject15{
background:#1B4F72;
color:#fff;
}
.subject16{
background:#154360;
color:#fff;
}
.subject17{
background:#641E16;
color:#fff;
}
.subject18{
background:#1D8348;
color:#fff;
}
.subject19{
background:#F39C12;
color:#fff;
}
.subject20{
background:#2C3E50;
color:#fff;
}
.subject21{
background:#C39BD3;
color:#fff;
}
.subject22{
background:#F1C40F;
color:#fff;
}
.subject23{
background:#45B39D;
color:#fff;
}
.subject24{
background:#5499C7;
color:#fff;
}
.subject25{
background:#85C1E9;
color:#fff;
}
.subject26{
background:#3498DB;
color:#fff;
}
.subject27{
background:#138D75;
color:#fff;
}
.subject28{
background:#784212;
color:#fff;
}
.subject29{
background:#7E5109;
color:#fff;
}
.subject30{
background:#186A3B;
color:#fff;
}



.subject210{
background:#6C3483;
color:#fff;
}

.subject211{
background:#A6ACAF;
color:#fff;
}
.subject212{
background:#F4D03F;
color:#fff;
}
.subject213{
background:#A04000;
color:#fff;
}
.subject214{
background:#A3E4D7;
color:#fff;
}
.subject215{
background:#1B4F72;
color:#fff;
}
.subject216{
background:#154360;
color:#fff;
}
.subject217{
background:#641E16;
color:#fff;
}
.subject218{
background:#1D8348;
color:#fff;
}
.subject219{
background:#F39C12;
color:#fff;
}
.subject220{
background:#873600;
color:#fff;
}

.subject221{
background:#A569BD;
color:#fff;
}















.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: none!important;
	color:#000;
}
.table th, .table td {
    
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
	border: 1px solid #DDDDDD!important;
}
#subject-bin{
 background: none repeat scroll 0 0 #000000;
    float: right;
    height: 370px;
    
    
    width: 165px;
}
.drag-subject{
 cursor: move;
    display: inline-block !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
	background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}

.table-month th{
 font-size: 10px!important;
}
.total{
float:left;
margin-right:30px;
}

.absent{
background:#E02222;
}
.leave{
background-color:#FFB848;
}
.holidays{
background-color:#35AA47;
}
.weekend{
background:#999;
}
.legend-label{
width:10px;
height:10px;
float:left;
}
.legend-cont{
float:left;
margin:0px 10px 0px 10px;
}
.inactive-months{
background:#f2f2f2;
}
.quick-info{
color:#35AA47!important;
margin-left:10px!important;
font-size:15px;
}
.details-info{
color:#FFB848!important;
margin-left:10px!important;
font-size:15px;
}
.edit-info{
color:#0D638F!important;
font-size:15px;
margin-left:10px!important;
}